<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Schneedetektion.ImagePlayground.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="Schneedetektion.Data.Properties.Settings.StrassenbilderMetaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\uzapy\OneDrive\Dokumente\Schneedetektion\StrassenbilderMeta.mdf;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <Schneedetektion.ImagePlayground.Properties.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value>C:\Users\uzapy\Desktop\astra2016</value>
            </setting>
        </Schneedetektion.ImagePlayground.Properties.Settings>
    </userSettings>
</configuration>