<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Schneedetektion.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Schneedetektion.Data.Properties.Settings.StrassenbilderMetaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Projekte_GitHub\ch.bfh.bti7321.w2016.schneedetektion\Schneedetektion\Schneedetektion.Data\StrassenbilderMeta.mdf;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <Schneedetektion.Data.Properties.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value>C:\Users\uzapy\Desktop\astra2016</value>
            </setting>
        </Schneedetektion.Data.Properties.Settings>
    </applicationSettings>
</configuration>